// Colors:
@PrimaryColor:          #fedcff;
@HoverPrimaryColor:     #cbaacc;
@SecondaryColor:        #6ed8ff;
@HoverSecondaryColor:   #2ea6cc;

// Default (All devices)

main {
    min-height: ~"calc(100% - 56px)";
    margin-top: 56px;
    padding: 15px;
}

.view {
    display: none;
}

.bg-primary {
    background-color:@PrimaryColor!important;
}

a.bg-primary:focus,a.bg-primary:hover {
    background-color:@HoverPrimaryColor!important;
}

.bg-secondary {
    background-color:@SecondaryColor!important;
}

a.bg-secondary:focus,a.bg-secondary:hover {
    background-color:@HoverSecondaryColor!important;
}

.remote-btn {
    background-color: @SecondaryColor;
}

.remote-img {
    width: 64px;
    height: 64px;
}

#mediaController {
    margin-left: ~"calc(50% - 139px)";
    display: inline-block;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    
}