// Default (All devices)

main {
    min-height: ~"calc(100% - 56px)";
    margin-top: 56px;
    padding: 15px;
}

.view {
    display: none;
}

.bg-primary {
    background-color:#fedcff!important
}

a.bg-primary:focus,a.bg-primary:hover {
    background-color:#cbaacc!important
}

.bg-secondary {
    background-color:#6ed8ff!important
}

a.bg-secondary:focus,a.bg-secondary:hover {
    background-color:#2ea6cc!important
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    
}