main {
  min-height: calc(100% - 56px);
  margin-top: 56px;
  padding: 15px;
}
.view {
  display: none;
}
.bg-primary {
  background-color: #fedcff !important;
}
a.bg-primary:focus,
a.bg-primary:hover {
  background-color: #cbaacc !important;
}
.bg-secondary {
  background-color: #6ed8ff !important;
}
a.bg-secondary:focus,
a.bg-secondary:hover {
  background-color: #2ea6cc !important;
}
